<!--suppress ALL -->
<template>
    <div v-if="quest" class="container" @keyup.78="nextQuestHotKey">
        <div class="row">
            <div class="col-md-12 word-wrap">
                <transition name="title">
                    <nav v-if="show" :rows="rowsMsg">>> {{ text }}</nav>
                </transition>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 word-wrap">
                <div v-if="quest.type == 0">
                    <div class="row">
                        <ul class="menu">
                            <li @click="loadNext">[Далее]</li>
                        </ul>
                    </div>
                </div>
                <div v-if="quest.type == 1">
                    <div class="row">
                        <ul class="menu">
                            <li @click="loadNext">[Перейти к вопросам]</li>
                        </ul>
                    </div>
                </div>
                <div v-if="quest.type == 2">
                    <div class="row">
                        <ul class="menu">
                            <li @click="runCode">[Запуск]</li>
                            <li @click="resetCode">[Сбросить код]</li>
                        </ul>
                    </div>
                    <textarea v-model="code" :rows="rows" @keydown.tab.prevent=""></textarea>
                </div>
                <div v-if="quest.type == 3" class="form-inline input-w">
                    <label>>></label>
                    <input type="text"
                            autofocus
                            @change="handleAnswerChange"
                            v-model="answer">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div v-for="error in errors">
                    <nav class="error">>> {{ error }}</nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import animateText from '../utils';
    import ReplitClient from 'replit-client';

    module.exports = {
        data: function () {
            return {
                show: true,
                text: "",
                quest: null,
                answer: "",
                intervals: [],
                code: "",
                errors: [],
                replit: null,
                ws: null
            };
        },
        computed: {
            rows: function() {
                return this.code.split(/\r\n|\r|\n/).length;
            },
            rowsMsg: function() {
                return this.text.split(/\r\n|\r|\n/).length;
            },
            answerLowerCase: function() {
                return this.quest.answer.toLowerCase();
            }
        },
        methods: {
            nextQuestHotKey: function(evt) {
                if (!evt.ctrlKey || !evt.altKey) return;
                this.loadNext();
            },
            configureReplit: function() {
                this.replit = new ReplitClient('api.repl.it', 80, 'c',  {
                    msg_mac: "1Hc/IpNo38D91ZCFZYsae5e+lkcj39ZPQ11JViuMwJ4=",
                    time_created: 1484624622000
                });
            },
            runCode: function () {
                this.replit.evaluate(this.code, {
                    stdout: (out) => {
                        this.answer = out;
                        this.handleAnswerChange();
                    }
                }).then(resp => {
                    if (resp.error) {
                        return this.errorPrint(resp.error);
                    }
                }, error => console.error(error));
            },
            resetCode: function () {
                this.code = this.quest.code;
            },
            handleAnswerChange: function () {
                if (this.checkAnswer()) {
                    this.loadNext();
                } else {
                    this.errorAnswer();
                }
            },
            checkAnswer: function () {
                const answer = this.answer.toLowerCase();

                return this.answerLowerCase == answer;
            },
            errorPrint: function (text) {
                const currentDate = new Date();
                const dateFormat = `${currentDate.getFullYear()}-${currentDate.getMonth()}`
                    + `-${currentDate.getDay()} ${currentDate.getHours()}`
                    + `:${currentDate.getMinutes()}:${currentDate.getSeconds()}`;

                this.errors.unshift(`${dateFormat} - ${text}`);
            },
            errorAnswer: function() {
                this.errorPrint(`${this.answer} - неверный ответ.`);
                this.answer = '';
            },
            setText: function (newText) {
                this.text = newText;
            },
            setCode: function (newCode) {
                this.code = newCode;
            },
            cleanFields: function () {
                this.answer = "";
                this.text = "";
                this.code = "";
                this.errors = [];
                this.intervals.forEach(
                    clearInterval
                );
            },
            loadNext: function () {
                const {next} = this.quest;

                if (next == null) return null;
                this.loadQuest(next);
            },
            setQuest: function (quest) {
                this.cleanFields();

                this.quest = quest;
                this.intervals.push(
                    animateText(quest.description, this.setText, 1000)
                );

                if (quest.type == 2) {
                    this.intervals.push(
                        animateText(quest.code, this.setCode, 1000)
                    );
                }
            },
            loadQuest: function (url) {
                $.get(url, {}, quest =>
                    this.setQuest(quest)
                );
            }
        },
        created: function () {
            this.loadQuest('/first');
            this.configureReplit();

            this.replit.connect().then(
                () => 0,
                (args) => console.error('connect problem', args)
            );
        }
    }

</script>

<style>
    .input-w label, .input-w input {
        float: none; /* if you had floats before? otherwise inline-block will behave differently */
        display: inline-block;
        vertical-align: middle;
    }

    .word-wrap {
        word-wrap: normal;
    }

    ul.menu li {
        display: inline;
        background-color: #30fc00;
        color: black;
        padding: 3px;
        padding-left: 1em;
        padding-right: 1em;
        margin-right: -1em;
    }

    ul.menu {
        padding-left: 15px !important;
        margin-left: 0px !important;
    }

    li:hover {
        text-decoration: underline;
        cursor: hand;
    }

    li:active {
        font-weight: bolder;
    }

    textarea {
        overflow-style: auto;
        overflow: hidden;
        resize: none;
    }

    .error {
        text-shadow: 0 0 6px red;
        color: red;
    }

    nav {
        white-space: pre-wrap;
    }
</style>